$navbar-default-bg: #4267B2;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-text{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 30%;
  width: 50%;
  margin: -15% 0 0 -25%;
}

.navbar {
  margin-bottom: 0px;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('cover-page.png');
  background-size: cover;
  height: 100vh;
  margin-bottom: 0px;
}

.jumbotron h1 {
  color: #fff;
  padding-top: 40px;
  text-align: center;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: #4267b2;
}

.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaeaea;
  color: #777;
}

.footer a:hover {
  color: #222;
}

.footer small {
  float: left;
}

.footer ul {
  float: right;
  list-style: none;
}

.footer ul li {
  float: left;
  margin-left: 15px;
}

.alert {
  margin-top: 20px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}
.description {
  margin-top: 0;
}










